nav{
    background-color: rgb(43, 40, 40);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 15px;
    font-size: 22px;
}

.perfil{
    font-size: 26px;
}

.logout{
    padding: 10px;
    background-color: lightskyblue;
    color: white;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.tarjeta-usuario, .educacion, .solicitudes, .conexiones{
    box-shadow: 0px 3px 8px rgb(185, 185, 185);
}

.educacion, .solicitudes, .conexiones{
    border-radius: 10px;
}

.solicitudes, .conexiones{
    padding: 10px;
    margin-top: 15px;
}

.tarjeta-usuario{
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

.barra-azul{
    height: 130px;
    background-color: lightskyblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.contenedor{
    margin-top: 100px;
    margin-left: 50px;
}

.imagen{
    position: absolute;
    top: 150px;
    left: 75px;
    border-radius: 50%;
    border: 2px solid white;
}

img{
    border-radius: 50%;
    object-fit: cover;
}

.editar-perfil{
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 10px;
}

.descripcion{
    padding-right: 10px;
}

.container{
    display: flex;
    gap: 50px;
}

ul{
    list-style: none;
}

li{
    padding: 5px;
}

.contenedor1{
    flex: 3;
}

.contenedor2{
    flex: 2;
    padding-right: 50px;
}

.educacion{
    padding: 10px;
    margin: 10px;
}

.lista-edu{
    padding-left: 0;
}

.conexion{
    display: flex;
    align-items: center;
    gap: 12px;
}

.listas-cont2{
    padding-left: 0;
}

.en-linea{
    text-decoration: underline;
    color: green;
}

.desconectado{
    text-decoration: underline;
    color: red;
}

.boton-acept, .boton-reject{
    border-radius: 50%;
    padding: 8px;
}

.boton-acept{
    background-color: green;
    color: white;
}

.boton-reject{
    background-color: red;
    color: white;
}